{% extends "master.html" %}
{% block baslik %}Hakkında{% endblock %}
{% block govde %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Emlak Takip Sistemi Hakkında</h2>
    <div class="row">
        <div class="col-md-8 offset-md-2">
                Emlak Takip Sistemi, emlak ilanlarımızı yönetmek ve takip etmek için geliştirilmiş kapsamlı bir platformdur. 
                Kullanıcı dostu arayüzü ve gelişmiş özellikleri ile emlak ilanlarımızıtakip edebilirsiniz.
            </p>
            <p>
                Amacımız, emlak sektöründe faaliyet gösteren kullanıcılarımıza en iyi hizmeti sunmaktır. Bu sistem, ilanlarınızı en iyi şekilde sunmanıza ve potansiyel müşterilere ulaşmanıza yardımcı olur.
            </p>
            <h3>Hizmetlerimiz</h3>
            <ul>
                <li>İlanları listeleme ve arama</li>
                <li>Favori ilanlarınızı yönetme</li>
                <li>Görsellerle ilanları zenginleştirme</li>
            </ul>
            <p>
                Emlak Takip Sistemi, sürekli gelişen ve güncellenen bir platformdur. Kullanıcılarımızdan gelen geri bildirimler doğrultusunda sistemimizi sürekli olarak iyileştirmekteyiz.
            </p>
            <p>
                Daha fazla bilgi ve destek için <a href="mailto:destek@emlaktakipsistemi.com">destek@emlaktakipsistemi.com</a> adresinden bizimle iletişime geçebilirsiniz.
            </p>
            <p>
                BU SİTE "İNTERNET TEKNOLOJİLERİ VE WEB PROGRAMLAMA" TEZİ ALTINDA OĞUZHAN KODAL TARAFINDAN YAPILMIŞTIR. 
                ------------------------------ İSTANBUL KÜLTÜR ÜNİVERSİTESİ 2000003175 --------------------------------
            <p>
        </div>
    </div>
</div>
{% endblock %}
