{% extends "master.html" %}
{% block govde %}
{% load static %}

<link href="{% static 'styles.css' %}" rel="stylesheet">

<div class="container mt-4">
    <h2>İlanı Düzenle</h2>
    <form method="post"  action : "../duzenle/{{satilik.ilanNo}}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="ili" class="form-label">İl</label>
            <input type="text" class="form-control" id="il" name="il" value="{{ satilik.il }}" required>
        </div>
        <div class="mb-3">
            <label for="ilcesi" class="form-label">İlçe</label>
            <input type="text" class="form-control" id="ilce" name="ilce" value="{{ satilik.ilce }}" required>
        </div>
        <div class="mb-3">
            <label for="apartmani" class="form-label">Apartman Adı</label>
            <input type="text" class="form-control" id="apartmani" name="apartmani" value="{{ satilik.apartman }}" required>
        </div>
        <div class="mb-3">
            <label for="apartmanNo" class="form-label">Apartman No</label>
            <input type="text" class="form-control" id="apartmanNo" name="apartmanNo" value="{{ satilik.apartmanNo }}" required>
        </div>

        <div class="mb-3">
            <label for=
        <div class="mb-3">
            <label for="sokagi" class="form-label">Sokak&Cadde</label>
            <input type="text" class="form-control" id="sokagi" name="sokagi" value="{{ satilik.sokak }}" required>
        </div>
        <div class="mb-3">
            <label for="mahallesi" class="form-label">Mahalle</label>
            <input type="text" class="form-control" id="mahallesi" name="mahallesi" value="{{ satilik.mahalle }}" required>
        <div class="mb-3">
            <label for="fiyati" class="form-label">Fiyat</label>
            <input type="number" class="form-control" id="fiyati" name="fiyati" value="{{ satilik.fiyat }}" required>
        </div>
        <div class="mb-3">
            <label for="odaSayisi" class="form-label">Oda Sayısı</label>
            <input type="text" class="form-control" id="odaSayisi" name="odaSayisi" value="{{ satilik.odaSayi }}" required>
        </div>
        <div class="mb-3">
            <label for="m2si" class="form-label">Metrekare (m²)</label>
            <input type="number" class="form-control" id="m2si" name="m2si" value="{{ satilik.m2 }}" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="aktiflik" name="aktiflik" {% if satilik.aktiflik %}checked{% endif %}>
            <label class="form-check-label" for="aktiflik">Aktif</label>
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
    {% if guncellendimi == "True" %}
    <div class="alert alert-success" role="alert">
        İlan başarıyla güncellendi!
    </div>
    {% endif %}
</div>

{% endblock %}
