{% extends "master.html" %}
{% block govde %}
    {% load static %}

    <link href="{% static 'satilikcard.css' %}" rel="stylesheet">
    <script src="{% static 'script.js' %}"></script>

    <div class="container mt-4">
        <div class="row g-4 mb-3">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <a href="../satilikevler/newilan" class="btn btn-primary">İlan Ekle</a>
                <form method="get" action="{% url 'search' %}" class="d-flex">
                    <input type="text" name="query" class="form-control" placeholder="Sokak Adı Ara">
                    <input type="number" name="min_fiyat" class="form-control ms-2" placeholder="Min Fiyat">
                    <input type="number" name="max_fiyat" class="form-control ms-2" placeholder="Max Fiyat">
                    <button type="submit" class="btn btn-primary ms-2">Ara</button>
                </form>
                <a href="../satilikevler/favori/listesi" class="btn btn-primary">Favori Listem</a>
            </div>
        </div>
        <div class="daire-grid">
            {% for satilik in satilikEv %}
                <a href="evDetay/{{satilik.id}}">
                    <div class="daire-card">
                        <div class="resim-slider">
                            {% for resim in satilik.resimler.all %}
                                <img src="{{ resim.resim.url }}" class="slider-resim">
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Oda Sayısı: {{ satilik.odaSayi }}</h5>
                            <p class="card-text">Fiyat: {{ satilik.fiyat }} TL</p>
                            <p class="card-text">Sokak: {{ satilik.sokak }} </p>
                        </div>
                        <div class="daire-actions">
                            <div class="button-group">
                                <a href="evDetay/{{satilik.id}}" class="btn btn-outline-info">Detay</a>
                                <a href="duzenle/{{satilik.id}}" class="btn btn-outline-warning">Düzenle</a>
                                <a href="detayEkle/{{satilik.id}}" class="btn btn-outline-success">Detay Ekle</a>
                            </div>
                            <div class="button-group"> 
                                <form class="" method="post" action="../satilikevler/">
                                    {% csrf_token %}
                                    <input type="hidden" name="sil" value="{{ satilik.id }}">
                                    <button type="submit" class="btn btn-outline-danger">Sil</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </a> 
            {% endfor %}
        </div>
    </div>
{% endblock %}
